#slideshow_image {
    max-height: 99vh;
    max-width: 95vw;
}
#image_folder {
    position: absolute;
    bottom: 34px;
    left: 10px;
    font-size: 18pt;
    color: #69cdff;
    text-shadow: 1px 1px 2px #000;
    font-family: monospace;
    font-weight: bold;
    font-variant: small-caps;
    background-color: #0000008f;
    text-align: center;
    width: -moz-available;
}
#image_date {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 18pt;
    color: #69cdff;
    text-shadow: 1px 1px 2px #000;
    font-family: monospace;
    font-weight: bold;
    font-variant: small-caps;
    background-color: #0000008f;
    text-align: center;
    width: -moz-available;
}
#timer_bar {
    position: absolute;
    bottom:1px;
    left:5px;
    margin-right:5px;
    height:2px;
    background-color: #333;
}